.margint1 {
    margin-top: 1rem;
}

#estiloform {
    width: 80%;
    margin: auto;
}

#cardstilo {
    max-width: 100%;
    margin-top: 1rem;
}

.centrartexto {
    text-align: center;
}

.colort {
    color: blue;
}